### ignore node_modules ###
/src/main/webapp/node_modules

### ignore bundle.js placeholder ###
/src/main/webapp/target

### ignore everything in target folder except the folder used by openshift S2I ###
/target/*
!/target/
/target/tmp/*
!/target/tmp/
!/target/tmp/src/

!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/